/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilos generales*/
:root{
    --color1 : #e020ad ;
    --color2 : #f07dd9 ;
    --color3 : #3c045e ;
    --color4 : #861267 ;
    --color5 : #890f70 ;
    --neonAzul: #45fedf;
    --neonVerde: #2ef8a0;
}
body{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--color3);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

h2{
    text-align: center;
}

hr{
    width: 45%;
    border-color: var(--color2);
}

strong{
    color: var(--neonVerde);
}

/*Barra lateral*/
nav{
    position: fixed;
    width: 20%;
    height: 100vh;
    padding: 10px;
    background-color: var(--color4);
}

.fotoperfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    border-radius: 50%;
}


.links-web{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 10px;
}

.links-menu{
    transition: color 0.8s ease-in-out, transform 0.8s ease-in-out, border 0.8s ease-in-out;
    
}

.links-menu:hover{
    color: var(--neonAzul);
    transform: scale(1.1);
    border-bottom: 1px solid var(--neonAzul);
}

.links-network{    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.logos{
    align-self: end;
}

.social-network{
    width: 60px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in;
}

.social-network:hover{
    transform: scale(1.1);
    filter: drop-shadow(
        0 0 10px var(--neonAzul));
}

/*Cuerpo*/
main{
    margin-left: 22%;
}

.title-aboutMe{
    color: var(--neonVerde);
}

.aboutMe{
    padding: 10px;
}

