/*General CSS*/
:root {
  --color1: #565d94;
  --color2: #302b3d;
  --color3: #e3d5dd;
  --color4: #9e97bf;
  --color5: #fac5c8;
  --color6: #d1b6d1;
}

* {
  scroll-behavior: smooth;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("IMG/montanas-en-bosque-minimalista-flat_2560x1440_xtrafondos.com.jpg");
  background-size: cover;
  color: var(--color2);
}

a {
  text-decoration: none;
}

/* Estilos CSS aquí */
#navbar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color1);
  padding: 10px;
  text-align: center;
}

#navbar a {
  color: var(--color2);
  width: 10%;
  transition: transform 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

#navbar a:hover {
  transform: translateY(-8px);
  border-bottom: solid white 1px;
  color: white;
}

#wellcome-section {
  display: flex;
  text-align: center;
  padding: 50px;
  width: 92.7%;
  height: 250px;
}

.perfilph{
  width: 300px;
  height: auto;
  background-color: var(--color2);
  border-radius: 10px;
  z-index: -1;
}

.perfil{
  width: 200px;
  border-radius: 50%;
  margin-top: 40px;
}

.perfil, .perfilph:hover{
  transform: translateY(-20px);
}

.perfil, .perfilph{
  transition: transform 0.3s ease;
}

.wellcome-text{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title{
  text-align: center;
  background-color: #d1b6d1c6;
  width: fit-content;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.project-title{
  display: inline-block;
  text-align: center;
  background-color: var(--color4);
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

#project-img {
  width: 12em;
  border-radius: 10px;
  cursor: pointer;
}

footer{
  background-color: var(--color3);
  
}

.social-links {
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: 10px; /* Espacio entre los elementos */
}

.logo img {
  width: 50px;
  height: 50px;
}



/* Media Query para dispositivos con una anchura máxima de 600px */
@media (max-width: 600px) {
  #welcome-section {
    padding: 20px;
  }

  #projects {
    padding: 20px;
  }

  .project-tile {
    margin: 10px;
    padding: 10px;
  }
}
